@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cabin-regular-webfont.woff2') format('woff2'), url('../fonts/cabin-regular-webfont.woff') format('woff'), url('../fonts/cabin-regular-webfont.ttf') format('truetype'), url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-Regular.woff') format('woff'), url('../fonts/JosefinSans-Regular.ttf') format('truetype'), url('../fonts/JosefinSans-Regular.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sansbold';
    src: url('../fonts/JosefinSans-SemiBold_gdi.eot');
    src: url('../fonts/JosefinSans-SemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/JosefinSans-SemiBold_gdi.woff') format('woff'), url('../fonts/JosefinSans-SemiBold_gdi.ttf') format('truetype'), url('../fonts/JosefinSans-SemiBold_gdi.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body,
video {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 240, 241);
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

/*VIDEO*/
.video_div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 20;
}

.video_div_background {
    background: url(../img/sequence02.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.videotrans {
    will-change: transform;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.99, .1, .37, .89);
    transition: -webkit-transform 1s cubic-bezier(.99, .1, .37, .89);
    transition: transform 1s cubic-bezier(.99, .1, .37, .89);
    transition: transform 1s cubic-bezier(.99, .1, .37, .89), -webkit-transform 1s cubic-bezier(.99, .1, .37, .89);
}

.videotrans-leave {
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
}

.link_content {
    display: block;
    top: 30%;
    position: relative;
}

.content {
    position: relative;
    vertical-align: middle;
    z-index: 2;
}

.content img {
    display: block;
    margin: 0 auto;
}

.down_arrow {
    opacity: 0.5;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

/*Header*********************************************/
header {
    width: 100%;
    height: 150px;
}

.header_div {
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    margin: 0 auto;
}

.banner {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.links_div {
    display: flex;
    align-content: center;
}

.links {
    flex: 1 0 auto;
    padding: 20px;
    font-size: 1.1em;
    font-family: cabinregular, sans-serif;
    align-self: center;
    text-decoration: none;
    color: rgb(044, 062, 080);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.links:hover {
    text-decoration: underline;
}

.offer-link-fix,
.links.v-link-active {
    color: rgb(228, 102, 43);
    transform: scale(1.1);
}

.app {
    height: calc(100% - 180px);
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

/*INFO*****************************************/
.info h1,
.info h3 {
    font-family: josefin_sansregular;
}

.info h1 {
    font-size: 1.5em;
}

.info_top p {
    font-family: josefin_sansbold;
}

.info_top p {
    display: inline;
}

.info_top p:first-of-type {
    font-size: 1.25em;
}

.info_top {
    margin-bottom: 25px;
}

.info_board {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.info_pic {
    width: 100%;
}

.info_link_popup {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding-left: 35px;
    color: black;
    text-decoration: none;
    font-family: josefin_sansregular;
}

.info_link_popup:hover {
    opacity: 0.9;
}

.info_details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 2 0 auto;
    justify-content: space-between;
}

.info_details p {
    font-family: josefin_sansregular;
}

.info_details a,
.info_details a:visited {
    color: rgb(41, 128, 185);
    text-decoration: none;
}

.info_details a:hover {
    text-decoration: underline;
}

.popup_mask {
    overflow: scroll;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    display: table;
    background: rgba(226, 226, 226, 0.8);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.popup_container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
}

.popup_container iframe {
    height: 56vmin;
    width: 100vmin;
}

.popup-enter,
.popup-leave {
    opacity: 0;
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
}

.close_button {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 999;
}

.close_button img {
    width: 4em;
    height: 4em;
}

/*MAP*****************************************/
.map {
    width: 100%;
    height: 70%;
    min-height: 250px;
}

.link_to_map {
    font-family: josefin_sansbold;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(044, 062, 080);
    display: block;
    max-width: 200px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 20px 10px 20px 10px;
    margin-bottom: 40px;
    text-align: center;
}

.link_to_map:hover {
    text-decoration: underline;
}

/*OFFER*************************************************/
.offer_sections {
    position: relative;
}

.link_offer_container {
    margin-bottom: 50px;
    position: relative;
}

.link_offer_div {
    background: rgb(236, 240, 241);
    width: 100%;
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.link_offer_hide {
    opacity: 0;
}

.link_offer_sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(236, 240, 241, 1);
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0px, -250px, 0px);
    transform: translate3d(0px, -250px, 0px);
    z-index: 9;
}

.link_offer_big {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_up {
    width: 2em;
    cursor: pointer;
}

.link_offer_show {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.link_offer {
    font-family: josefin_sansbold;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(044, 062, 080);
    max-width: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px 10px 20px;
    background-size: 0;
    display: block;
}

.link_offer-active {
    background-color: rgb(52, 152, 219);
    color: rgb(236, 240, 241);
    background-size: 100%;
}

.link_offer:hover {
    text-decoration: underline;
}

.pics {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    width: auto;
    height: 220px;
    box-sizing: border-box;
    padding: 20px;
}


/*OFFER***Shop*****/
.shop_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shop_div_item {
    flex: 0 0 auto;
    margin: 0;
}

/*OFFER***Craft&Assortment*****/

.toggle_filters {
    width: 100%;
    display: none;
}

.show_filters {
    position: fixed;
    left: 0;
    background-color: rgba(236, 240, 241, 0.7);
}

.arrow_filters {
    width: 40px;
    margin: 0 auto;
    padding: 5px;
    display: block;
}

.offer_container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.offer_filters_container {
    flex: 0 0 25%;
    position: relative;
}

.offer_filters_div {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.offer_filters_div a {
    font-family: josefin_sansbold;
    font-size: 1em;
    text-decoration: none;
    color: rgb(044, 062, 080);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.offer_filters_div a.v-link-active {
    background-color: rgb(52, 152, 219);
    color: rgb(236, 240, 241);
    background-size: 100%;
}

.offer_content_div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.offer_content_item {
    flex: 0 0 auto;
    margin: 0;
}

.offer_content_item a {
    display: block;
}

/******************
     POPUP SECTION
     ************************/
.popup_mask {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    background-color: rgb(236, 240, 241);
    background-color: rgba(236, 240, 241, 0.95);
    display: table;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -webkit-overflow-scrolling: touch;
}

.popup_container {
    position: static;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.popup_img_div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup_container_h {
    height: 95vmin;
}

.img_link {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -ms-flex: 1 80%;
    flex: 1 80%;
    height: 100%;
}

.img_link_img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    opacity: 0;
}

.img_link_port {
    width: auto;
    height: 100%;
}

.arrows {
    opacity: 0.5;
    -webkit-box-flex: 1;
    -webkit-flex: 1 10%;
    -ms-flex: 1 10%;
    flex: 1 10%;
}

.arrows img {
    vertical-align: middle;
    max-width: 60px;
    max-height: 80px;
}

/*******************DETAILS**/
.popup_details_top {
    z-index: 9999;
    background-color: rgb(236, 240, 241);
    background-color: rgba(236, 240, 241, 0.95);
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15px;
}

/*****HIDE AND SHOW***/
.popup_details_top {
    top: 0;
}

/****SIZES AND MARGINS FOR DETAILS***/
.popup_details_top p {
    margin: 0;
    font-family: josefin_sansbold;
    font-size: 1em;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.close_btn a {
    display: block;
    opacity: 0.5;
}

.close_btn img {
    width: 4em;
    height: 4em;
    padding: 1em;
}

/*******************ANIMATION**/
.popup-enter,
.popup-leave {
    opacity: 0;
}

.popup-enter .popup_container,
.popup-leave .popup_container {
    -webkit-transform: scale(.1);
    transform: scale(.1);
}

@media screen and (max-width:700px) {
    .info h1 {
        font-size: 1.2em;
    }

    .info h3 {
        font-size: 1.1em;
    }

    .info_top p {
        font-size: 0.95em;
    }

    .info_top p:first-of-type {
        font-size: 1.15em;
    }

}

@media screen and (max-width:650px) {
    .app {
        padding: 0;
    }

    .info {
        padding-left: 10px;
        padding-right: 10px;
    }

    .links {
        padding: 10px;
        font-size: 1em;
    }

    .shop_div_item {
        flex: 0 0 100%;
    }

    .link_offer_container {
        margin-bottom: 10px;
    }

    .link_offer {
        font-size: 1em;
    }

    .offer_filters_container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .offer_filters_div {
        background: rgb(236, 240, 241);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-size: 0.9em;
    }
    .offer_content_div {
        display: block;
    }

    .offer_content_item {
        max-width: 100%;
    }
    .pics {
        height: auto;
        width: 100%;
    }
    .toggle_filters {
        display: block;
    }

}

@media screen and (max-width:570px) {
    .info_board {
        flex-wrap: wrap-reverse;
    }

    .info_link_popup {
        flex: 0 0 100%;
        padding: 0;
    }

    .info_details {
        flex: 1 0 auto;
        flex-direction: row;
    }

    .info_pic {
        max-height: 220px;
    }

}

@media screen and (max-width:500px) {
    .banner {
        height: 70px;
        width: 70px;
        padding: 0;
    }

    .header_div {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .links {
        font-size: 0.9em;
        flex: 0 0 auto;
        box-sizing: border-box;
    }

    .info_details {
        font-size: 0.9em;
    }

}

@media screen and (max-width:400px) {
    .header_div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .banner {
        margin-left: auto;
    }

    .info_details {
        flex-direction: column;
    }

}

@media screen and (max-width:320px) {
    .header_div {
        flex-direction: row-reverse;
    }

    .links_div {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .banner {
        margin-left: 0;
    }

}

.fade {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
}

.move {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    opacity: 1;
}

.move-enter {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
}

.move-leave {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
}