
@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
        url('../fonts/cabin-regular-webfont.woff') format('woff'),
        url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
        url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../fonts/JosefinSans-Regular.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansbold';
    src: url('../fonts/JosefinSans-SemiBold_gdi.eot');
    src: url('../fonts/JosefinSans-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBold_gdi.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold_gdi.ttf') format('truetype'),
        url('../fonts/JosefinSans-SemiBold_gdi.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body,
video {
    margin: 0;
    padding: 0;
    background-color: rgb(236,240,241)
}
html,
body {
    height: 100%;
}



/*VIDEO*/

.video_div {
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    position: absolute;
    background: url(../img/sequence02.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 20;
}

.videotrans {
    will-change: transform;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.99,.1,.37,.89);
    transition: -webkit-transform 1s cubic-bezier(.99,.1,.37,.89);
    transition: transform 1s cubic-bezier(.99,.1,.37,.89);
    transition: transform 1s cubic-bezier(.99,.1,.37,.89), -webkit-transform 1s cubic-bezier(.99,.1,.37,.89);
}

.videotrans-leave {
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
}

.link_content {
    display: block;
    top: 30%;
    position: relative;
}

.content {
    position: relative;
    vertical-align: middle;
    z-index: 2;
}

.content img {
    display: block;
    margin: 0 auto;
}

.down_arrow {
    opacity: 0.5;
}

.video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

/*Header*****/

header {
    width: 100%;
    height: 150px;
}

.header_div {
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    margin: 0 auto;
}


.banner {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.links_div {
    display: flex;
    align-content: center;
}

.links {
    flex: 1 0 auto;
    padding: 20px;
    font-size: 1.1em;
    font-family: cabinregular, sans-serif;
    align-self: center;
    text-decoration: none;
    color: rgb(044,062,080);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.links:hover {
    text-decoration: underline;
}

.link-selected {
    color: rgb(228,102,43);
    transform: scale(1.1);
}


.app {
    height: calc(100% - 180px);
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
}



/*INFO*/
.info h1,
.info h3 {
    font-family: josefin_sansregular;
}

.info h1 {
    font-size: 1.5em;
}

.info_top p {
    font-family: josefin_sansbold;
}
.info_top p {
    display: inline;
}
.info_top p:first-of-type {
    font-size: 1.25em;
}
.info_top {
    margin-bottom: 25px;
}

.info_board {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.info_pic {
    width: 100%;

}

.info_link_popup {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding-left: 35px;
    color: black;
    text-decoration: none;
    font-family: josefin_sansregular;
}

.info_link_popup:hover {
    opacity: 0.9;
}

.info_details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 2 0 auto;
    justify-content: space-between;
}

.info_details p {
    font-family: josefin_sansregular;
}

.info_details a,
.info_details a:visited {
    color: rgb(41,128,185);
    text-decoration: none;
}

.info_details a:hover {
    text-decoration: underline;
}

/*MAP*/

.map {
    width: 100%;
    height: 70%;
    min-height: 250px;
    border: solid black 1px;
}

.link_to_map {
    font-family: josefin_sansbold;
    text-decoration: none;
    color: rgb(044,062,080);
    display: block;
    max-width: 200px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 20px 10px 20px 10px;
    border: solid black 1px;
    margin-bottom: 40px;
    text-align: center;
}

.link_to_map:hover {
    color: rgb(228,102,43);
    font-size: 1.05em;
}

.popup_mask {
    overflow: scroll;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    display: table;
    background: rgba(226,226,226,0.8);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.popup_container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
}

.popup_container iframe {
    height: 56vmin;
    width: 100vmin;
}

.popup-enter, .popup-leave {
    opacity: 0;
    -webkit-transform: translate(0,-500px);
    transform: translate(0,-500px);
}


.close_button {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 999;
}
.close_button img {
    width: 4em;
    height: 4em;
}

@media screen and (max-width: 700px) {
    .info h1 {
        font-size: 1.2em;
    }
    .info h3 {
        font-size: 1.1em;
    }
    .info_top p {
        font-size: 0.95em;
    }
    .info_top p:first-of-type {
        font-size: 1.15em;
    }
}


@media screen and (max-width: 650px) {
    .links {
        padding: 10px;
        font-size: 1em;
    }
}

@media screen and (max-width: 570px) {
    .info_board {
        flex-wrap: wrap-reverse;
    }
    .info_link_popup {
        flex: 0 0 100%;
        padding: 0;
    }
    .info_details {
        flex: 1 0 auto;
        flex-direction: row;
    }
    .info_pic {
        max-height: 220px;
    }
}


@media screen and (max-width: 500px) {
    .banner {
        height: 70px;
        width: 70px;
        padding: 0;
    }
    .header_div {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .links {
        font-size: 0.9em;
        flex: 0 0 auto;
        box-sizing: border-box;
    }
    .info_details {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 400px) {
    .header_div {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .banner {
        margin-left: auto;
    }
    .info_details {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .header_div {
        flex-direction: row-reverse;
    }
    .links_div {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .banner {
        margin-left: 0;
    }
}

.fade {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.fade-enter, .fade-leave {
    opacity: 0;
}
